# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1

jobs:
  create_venv:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - restore_cache:
          keys:
          - v0-dependencies-{{ checksum "requirements/main.txt" }}-{{ checksum "requirements/dev.txt" }}
          # don't fallback to using the latest cache if no exact match is found (restart from scratch
      - run: make venv
      # Save venv for later runs
      - save_cache:
          paths:
            - venv
          key: v0-dependencies-{{ checksum "requirements/main.txt" }}-{{ checksum "requirements/dev.txt" }}
      # Save venv for other jobs
      - persist_to_workspace:
          root: venv
          paths:
            - '*'

  check_format:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - attach_workspace:
          at: venv
      - run: make check_format

  lint:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - attach_workspace:
          at: venv
      - run: make lint
      - store_test_results:
            path: test_results

  installable:
      docker:
        - image: circleci/python:3.6
      steps:
        - checkout
        - attach_workspace:
            at: venv
        - run: make installable

  test_coverage:
      docker:
        - image: circleci/python:3.6
      steps:
        - checkout
        - attach_workspace:
            at: venv
        - run: make test_coverage
        - store_test_results:
            path: test_results

workflows:
  version: 2
  all_ci:
    jobs:
      - create_venv
      - check_format:
          requires:
            - create_venv
      - lint:
          requires:
            - create_venv
      - installable:
          requires:
            - create_venv
      - test_coverage:
          requires:
            - create_venv
